<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="chumoMenu" value="Menu\\Menu.Xml"/>
    <add key="chumoMenuChild" value="Menu\\ChildMenu.Xml"/>
    <add key="chumoVedio" value="D:\Release\Source\"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
